body {
    font-family: "Montserrat", sans-serif;
}

/*gradient background animation*/
.dark-blue-gradient {
    background: linear-gradient(-45deg, #000000, #0e0d1e, #111133, #222233); /* another shade option: #15142d */
    background-size: 400% 400%;
    animation: gradient 6s ease infinite; /* controls speed of gradient color change */
    height: 100vh;
}

.warm-gradient {
    background: linear-gradient(-45deg, #000000, #2f0000, #40060b, #4c0a0a);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite; /* controls speed of gradient color change */
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 30px;
}

h2{
    font-size:20px;
}

img {
    margin: 15px;
}

.header {
    color: white;
}


.axis {
    font-family: "Montserrat", sans-serif;
}

.legend {
    font-size: 12px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    font-family: century-gothic, sans-serif;
    text-transform: uppercase;
}

.tooltip {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

.tooltip h3 {
    font-size: 18px;
    font-weight: bold;
}

.tooltip h3,h4 {
    text-align: left;
}

.tooltip h4 {
    font-size: 12px;
}

.main{
    color: black;
}

.endtext{
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

button{
    /*border-left-color: black;*/
    /*border-bottom-color: black;*/
    /*border-right-color: black;*/
    /*border-top-color: black;*/
    border-radius: 0.1;
    border-color: black;
    opacity: 100;
}

.line {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

#lollipop {
    color: white;
}

.lollipop-text {
    fill: white;
}

#selectedYears {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    /*color: #136D70;*/
    color: #8D1B18;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 45%;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#clusterContainer {
    background: #000000;
}

.genre-label.active {
    font-weight: bold !important;
}

div#clusterMovieInformation {
    padding: 7.5px;
}

div#clusterMovieInformation h3, h4 {
    text-align: center;
}

#clusterTitle {
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    color: #C79F27;
    margin: 1.5rem;
}

.bubble {
    background: #FAF0D0;
    border-radius: 15px;
    border: 4px solid #f3d782;
}

/* Ensures the SVG container fits inside the bubble */
#genreBar, #clusterplot {
    width: 100%;
    height: 100%;
}

.emphasis {
    color: #FFF5C8;
}

.carousel {
    position: relative;
    top: -90px; /* Adjust the value to move the carousel up */
}

#tomatoes-heading {
    margin-top: 40px;
    text-align: center;
    font-family: century-gothic, sans-serif;
    text-transform: uppercase;
}

/*FOR TEXT THAT CHANGES PERSPECTIVE ON HOVER*/
/*Adapted from James Bosworth on Codepen: https://codepen.io/bosworthco/pen/YWBLpR*/

/* Common styles */
.perspective-text {
    color: #FFFFFF;
    display: flex;
    height: 100%;
}

/* Apply styles to the parent element */
.Words {
    margin: 0 auto;
    /*padding: 120px 0;*/
    padding-top: 20%; /* Adjust padding-top and padding-bottom */
    padding-bottom: 20%;
    max-height: 80vh;
    /*font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;*/
    font-family: century-gothic, sans-serif;
    font-size: 53px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    /* Sort out nasty text fuzz */
    /*transform: translate3d(0, 0, 0);*/
    transform: translate(-10%, -15%);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

/* Apply common styles to each line of text */
.Words-line {
    height: 60px; /* Set to desired clip height */
    overflow: hidden;
    position: relative;
}

/* Apply perspective to alternating lines */
.Words-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
}

.Words-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
}

/* Loop over the total lines and apply a left offset */
.Words-line:nth-child(1) {
    left: 29px;
}

.Words-line:nth-child(2) {
    left: 58px;
}

.Words-line:nth-child(3) {
    left: 87px;
}

.Words-line:nth-child(4) {
    left: 116px;
}

.Words-line:nth-child(5) {
    left: 145px;
}

.Words-line:nth-child(6) {
    left: 174px;
}

.Words-line:nth-child(7) {
    left: 203px;
}

/* Fine-grained text styles */
p {
    height: 60px; /* Set to desired clip height */
    line-height: 55px; /* Clip height - 5 */
    padding: 0 10px;
    transition: all .4s ease-in-out;
    transform: translate3d(0, 0, 0);
    vertical-align: top;
    white-space: nowrap;
}

/* The hover interaction */
.Words:hover p {
    transform: translate3d(0, -78px, 0); /* Change middle number to  desired clip height */
}
