body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 30px;
}

img {
    margin: 15px;
}

.header {
    color: white;
}


.axis {
    font-family: "Montserrat", sans-serif;
}

.legend {
    font-size: 12px;
}

div#clusterMovieInformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: thin solid black;
    border-radius: 5px;
    padding: 7.5px;
    width: 600px;
}
