body {
    font-family: "Montserrat", sans-serif;
}

/*gradient background animation*/
.gradient {
    background: linear-gradient(-45deg, #000000, #0e0d1e, #111133, #222233); /* another shade option: #15142d */
    background-size: 400% 400%;
    animation: gradient 6s ease infinite; /* controls speed of gradient color change */
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 30px;
}

h2{
    font-size:20px;
}

img {
    margin: 15px;
}

.header {
    color: white;
}


.axis {
    font-family: "Montserrat", sans-serif;
}

.legend {
    font-size: 12px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

.tooltip h3 {
    font-size: 18px;
    font-weight: bold;
}

.tooltip h3,h4 {
    text-align: left;
}

.tooltip h4 {
    font-size: 12px;
}

.main{
    color: black;
}

.endtext{
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

button{
    /*border-left-color: black;*/
    /*border-bottom-color: black;*/
    /*border-right-color: black;*/
    /*border-top-color: black;*/
    border-radius: 0.1;
    border-color: black;
    opacity: 100;
}

.line {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

#lollipop {
    color: white;
}

.lollipop-text {
    fill: white;
}

#selectedYears {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    /*color: #136D70;*/
    color: #8D1B18;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 45%;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#clusterContainer {
    background: #000000;
}

.genre-label.active {
    font-weight: bold !important;
}

div#clusterMovieInformation {
    padding: 7.5px;
}

div#clusterMovieInformation h3, h4 {
    text-align: center;
}

#clusterTitle {
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #C79F27;
}

.bubble {
    background: #FAF0D0;
    border-radius: 15px;
    border: 4px solid #f3d782;
}

/* Ensures the SVG container fits inside the bubble */
#genreBar, #clusterplot {
    width: 100%;
    height: 100%;
}